
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="logo">
    <h1 id='ONE' class="navbar-brand" href="#">EductionFlow</h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <form class="form-inline my-2 my-lg-0 searchengine" action="">
        {{form.form}}
        <button class="btn btn-primary my-2 my-sm-0">search</button>
      </form>
        <ul class="navbar-nav ml-auto">
        {%if user.is_authenticated%}
        <li class="nav-item ">
          <a class="nav-link" href="{%url 'profile'%}">profile</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="{%url 'users:logout'%}">logout</a>
        </li>
        {%else%}
        <li class="nav-item">
            <a class="nav-link" href="{%url 'users:signup'%}"><button class="btn btn-primary">signup</button></a>
        </li>
        <li class="nav-item d-flex align-items-center">
            <a class="nav-link" href="{%url 'users:login'%}"><button class="btn">login</button></a>
        </li>
        {%endif%}
      </ul>
    </div>
  </nav>



<style>
    #logo{
    box-shadow: 0 0 0 5px 0 black;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@700&display=swap');

#ONE{
    font-family: 'Grenze Gotisch', cursive;;
    font-weight:bold;
    font-size:larger;
    margin-right:2%;
}
button{
    border-radius:10px;
    padding-left:13px ;
    padding-right: 13px;
}
ul li a{
    color:black;
    font-weight: 500;
}
</style>
